@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}

<div style="padding: 25px" dir="ltr">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
</div>